<nav class="top-bar" data-topbar rol="navigation">
  <ul class="title-area">
    <li class="name"><h1><a href="/">Home</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <li class="divider"></li>
      <li><a href="/start/">Start</a></li>
      <li><a href="/basics/">Basics</a></li>
      <li><a href="/0/">Step 0</a></li>
      <li><a href="/1/">Step 1</a></li>
      <li><a href="/2/">Step 2</a></li>
      <li><a href="/3/">Step 3</a></li>
      <li><a href="/4/">Step 4</a></li>
      <li><a href="/resources/">Resources</a></li>
      <li><a href="/glossary/">Glossary</a></li>
      <li><a href="/materials/">Materials</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
  </section>
</nav>

